
a,
#navutil a,
#footer ul li a,
.breadcrumb a,
#navSecondary a {
    color: #5b8500;
}


#homemainBox {
  padding: 0 21px 0 8px;
  margin: 0;
/*  background: transparent url("../../images/home-bg.png") 8px top no-repeat;	 */
}

#homeContent {
  /* background: transparent url("../../images/home-footer-bg.gif") left bottom no-repeat;	*/
  padding: 0;
  margin: 0;
  /* border-bottom: 2px solid #fff; */
}

#sloganBox {
  padding: 0;
  margin: 0;
  float: right;
  width: 345px;
}

.slogan  {
  font-size: 30px;
  color: #153692;
  padding: 150px 0 0 0;
}

#homeColContent {
  font-size: 12px;
  line-height: 120%;
/*  padding: 94px 0 10px 0; */
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#homeColContent .block {
    float: left;
    width: 350px;
    padding: 0 0 0 0;
}

#homeColContent .block .content {
    padding: 0 12px 0 0;
}

#homeColContent .block h2 {
	font-size: 12px;
	color: #153692;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	border:none;
	padding-top:3px;
	margin-bottom:0px;
	padding-bottom:2px;
}


#homeColContent .block .content ul{
    padding: 12px 0 0 0;
    margin: 0;
}

#homeColContent .block .content li{
    padding: 0 0 12px 0;
    margin: 0;
}

.learnMore {
  padding: 20px 0 0 0;
  margin: 0;
}

#homeColRight {
  float: right;
 /*  width: 350px; */
  width: 100%;
}

#homeNews {
  margin: 0;
  /* padding: 45px 0 0 0; */
  padding: 0;
  float: left;
  width: 100%;
}

#homeNews .block .content ul {
  list-style: none;
  color: #fff;
  padding: 0 0 20px 0;
  margin: 0;
  line-height: 15px;   
}

#homeNews .block .content li {
  list-style: none;
  padding: 0 10px 5px 0;
  margin: 0;
  font-size: 12px;
}

#homeNews .block .content li a {
  text-decoration: underline;
}

#homeNews .block h2 {    
  background: transparent url("../../images/home-title-news-bg.png") left top no-repeat;
  padding: 5px 100px 3px 8px;  
  margin: 0 0 12px 0;
  color: #153692;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid #fff;
	line-height:12px;
}

#homeNews .block .content a {
/*    color: #191a20;  */
    color: #5b8500;
    text-decoration: none;
}

#homeNews .block .content a:hover {
    text-decoration: underline;
}

#homeNews .block .content li b {

}

b {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 100px;
}

/** Drupal Overrides **/
.view-home-news .date-display-single {
  font-weight: bold;    
}

.view-home-news .views-field-view-node a {
	color:#fff;
}

#homeColContent .block {
  margin: 0;
  padding: 0;
}

#homeFlash {
  float: left;
  padding: 0 0 0 4px;
}

.view-executive-search-jobs #edit-tid-1,
.view-as-financial-openings #edit-tid-1 {
 width:150px;
}
 
.view-executive-search-jobs .views-exposed-widget,
.view-as-financial-openings .views-exposed-widget {
 display:block !important;
width:500px;
}
 
.view-executive-search-jobs #edit-submit-executive-search-jobs,
.view-as-financial-openings #edit-submit-as-financial-openings {
margin-top:0px;
}
 
.view-executive-search-in-the-news .views-table .views-field-title {
 text-indent:10px;
}

#block-views-slideshow_rotator-block_1 {
  margin-left:4px;
}
#views_slideshow_cycle_teaser_section_slideshow_rotator-block_1 {
  float:left;
}

.views-slideshow-controls-bottom {
  margin-left:720px;
  padding: 12px 0 0 0;
}

#views_slideshow_cycle_teaser_section_slideshow_rotator-block_1 {
    margin-top:2px;
}

.views-content-field-caption-text-value p {
  color: #67696c;
}

#logo {
    padding: 26px 0 0 40px;
}

#navutil {
    padding: 9px 0 12px;
}

#navutil ul {
  margin-top:4px;
}

#quickSearch {
    margin-right: 7px;
}

#header {
  position: relative;
}

#logo {
    padding:0;
    left: 54px;
    position: absolute;
    top: 5px;
    z-index: 99;
}

#homepage #logo {
    top: 45px;
}

.views_slideshow_pager_field_item .views-content-field-learn-more-link-url {
  margin-bottom: 10px;
}

.views_slideshow_pager_field_item .views-content-field-learn-more-link-url a {
    color: #5b8500;
}

.views_slideshow_pager_field_item .views-content-field-caption-text-value p {
  padding-bottom: 0;
}
 
.views-field-title {
  font-size:0.95em;
  color:#182876;
}

.views_slideshow_pager_field_item .views-content-title {
  font-size:1.1em;
}

ul.nice-menu a.level1 {
    color: #5b8500;
}

/** End of Drupal Overrides **/