/* $Id: upload_image.css,v 1.1 2008/07/17 20:58:01 iikka Exp $ */
.upload-image-images img {
  border: 1px solid #000;
  margin: 5px;
}

.upload-image-images ul li {
  list-style: none;
  display: inline;
  float: left;
}
